@model IEnumerable<MyStoreFront1.Models.Genres>
@{

}
<h1>Products</h1>

<div class="row">
    @foreach (var genre in Model)
    {
     <div class="col-3">
        <h3>@genre.Name</h3>
        <a asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Name">
            <img src="@genre.ImageUrl" class="img-fluid" />
        </a>
     </div>

     }
</div>