@model MyStoreFront1.Models.OrderViewModel
 

<h1>Your Order</h1>
@if (Model.CartProducts != null)
{
<form class="container" method="post">
    <div class="row">
        <!--<img src="product.ImageUrl" class="col-3 img-fluid" style="height: 25%">-->
        @foreach (var product in Model.CartProducts)
        {
        <div class="row">

        <div class="col-4">
            <img src="@product.Products.ImageUrl" class="img-fluid">
            </div>
        <div class="col-4">
        <dl>
            <dt>Items</dt>
            <dd>@product.Products.Name</dd>

        </dl>
        <div class>
            <label for="orderQuantity"><b>Quantity</b></label>
                <select class="form-control" name="quantity">
                  <option value="@product.Quantity">@product.Quantity</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
        </div>
        </div>


    </div>
        }
            </div>
    <br>
    <div>
        <form asp-action="Index" asp-controller="shipping" method="post">
            <input type="submit" value="Checkout" class="btn btn-dark"/>
        </form>
    </div>
    
</form>
}