
/*body {
    background-image: url("/images/MainBackground.jpg");
}*/

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-item {
    color: #eddec7;
    font-family: Helvetica
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

/*.carousel-inner {
    max-height: 500px;
    width: 100%;
}*/

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

/* QR code generator */
#qrCode {
    margin: 15px
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

#orderQuantity {
    margin-left: 1000px;
    margin-right: 1000px;
}
