@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Login";
}
<head>
    <style>
        .forgot-password {
            font-size: 0.8em;
        }
    </style>
</head>

<h2>Log In</h2>
<div asp-validation-summary="All"></div>
<form method="post" asp-action="login" asp-controller="account">
    <label>Username</label>
    <input type="text" name="username" required="required"/>
    <br>
    <label>Password</label>
    <input type="password" name="password" required="required"/>
    <input type="submit" value="login" /> 
</form>
<br>
<a class="forgot-password" asp-action="PasswordReset">Forgot your password?</a>