@model MyStoreFront1.Models.ApplicationUser
<!--@Html.ValidationSummary(true)-->

<form method="post">
    <!--<label for="email">Enter a new password for @Model.username</label>-->
    <label for="email">Enter a new password for @Model.username</label>
    <input type="password" name="password" required="required" />
    <input type="submit" value="Reset your password" />
</form>