@{
}
<head>
    <style>
        input {
            margin-bottom: 10px;
        }
    </style>
</head>

<h2>Reset Your Password</h2>
<form method="post">
    <label for="email">Enter the email address associated with your account.</label>
    <br /> <br />
    <input type="email" name="email" required="required"/>
    <br />
    <input type="submit" value="Send Email"> 
</form>
