@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Shipping</h1>


<div class="row col-12">
 @if (!this.ViewContext.ModelState.IsValid)
    {
    <div class="alert alert-danger">
    @Html.ValidationSummary(false)
    </div>
    }
</div>
<div class="row"> 
    
<form class="col-6" method="post" novalidate="novalidate">

    @Html.AntiForgeryToken()
    <div class="form-group"> 
        <label>Street</label>
        <input type="text" class="form-control" name="street" required="required">
            <span class="invalid-feedback">Street address required.</span>
    </div>
    <div class="form-group"> 
        <label>City</label>
        <input type="text" class="form-control" name="city" required="required">
            <span class="invalid-feedback">City required.</span> 
    </div>    
    <div class="form-group"> 
        <label>State</label>
        <input type="text" class="form-control" name="state" required="required">
            <span class="invalid-feedback">State required.</span> 
    </div>
    <div class="form-group"> 
        <label>ZIP</label>
        <input type="text" class="form-control" name="zipcode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
            <span class="invalid-feedback">Use a 5 or 9 digit zip code.</span>
    </div>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="date" class="form-control" required="required">
            <span class="invalid-feedback">Choose a delivery date.</span>
    </div>
       <br>
        <!--    Validate Address    -->
        <!--<div>
            <button class="btn btn-dark">Validate Address</button> 
        </div>
        <div class="col">
            <div class="alert alert-warning" id="shippingNotValidated">
                Not Yet Validated
            </div>
            <div class="alert alert-success" id="shippingValid" style="display:none">
                Valid
            </div>
            <div class="alert alert-danger" id="shippingInvalid" style="display:none">
                Invalid
            </div>
        </div>-->
       </form>

        
<!--        Billing         -->
  <form class="col-6" method="post" novalidate="novalidate">
    <div class="form-group">
        <label for="creditcardnumber">Credit Card</label>
        <input type="text" name="creditcardnumber" class="form-control" required="required"/>
    </div>    
    <div class="form-group">
        <label for="creditcardname">Name on Card</label>
        <input type="text" name="creditcardname" class="form-control" required="required"/>
    </div>
    <div class="form-group">
        <label for="expirationmonth">Exp. Month</label>
        <select name="expirationmonth" class="form-control" required="required"/>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="05">05</option>
            <option value="06">06</option>
            <option value="07">07</option>
            <option value="08">08</option>
            <option value="09">09</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
    </div>
     
    <div class="form-group">
        <label for="expirationmonth">Exp. Month</label>
        <select name="expirationmonth" class="form-control" required="required"/>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
    </div>
    <div class="form-group">
        <label for="expirationmonth">CVV</label>
        <input name="cvv" class="form-control" required="required"/>
    </div> 
        <div class="form-group">
    <input type="submit" class="btn btn-dark" value="Submit"/>
</div>
</form>
    
</div>

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });

        $("#validateShipping").click((event) => {
                $("#validateShipping").prop("disabled", "true");
                $("#validating").show();
                event.preventDefault();
                event.stopPropagation();
                var shippingAddress = $("#ShippingAddress").val();
                var shippingCity = $("#ShippingCity").val();
                var shippingState = $("#ShippingState").val();

                $.getJSON("/delivery/validateaddress?street=" + shippingAddress + "&state=" + shippingState + "&city" + shippingCity, (data) => {
                    if (data.length > 0) {
                        $("#shippingInvalid").hide();
                        $("#shippingValid").show();
                    } else {
                        $("#shippingInvalid").show();
                        $("#shippingValid").hide();
                    }
                    $("#validateShipping").removeProp("disabled");
                    $("#validating").hide();
                    console.log(data);
                })
                $("#shippingNotValidated").hide();
        
    </script>
}