@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<h1>Shipping</h1>
<hr />

<div class="row">
 @if (!this.ViewContext.ModelState.IsValid)
    {
    <div class="alert alert-danger">
    @Html.ValidationSummary(false)
    </div>
    }
</div>

<div class="row" style="font-size: 1.3em; margin-bottom: 2em">
    <div class="col-4"><dt>Shipping</dt></div>
    <div class="col-4"><dt>Billing</dt></div>
</div>


<form method="post" novalidate="novalidate">
    <div class="row">  

        <div class="col-4">

            @Html.AntiForgeryToken()
            <div class="form-group"> 
                <label for="ShippingName">Name</label>
                <input type="text"  class="@(ViewData.ModelState.ContainsKey("ShippingName") && ViewData.ModelState.FirstOrDefault(x => x.Key == "ShippingName").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" name="ShippingName" required="required">
                    <span class="invalid-feedback">Enter a name.</span>
            </div>
            <div class="form-group"> 
                <label for="ShippingStreet">Street</label>
                <input type="text" class="@(ViewData.ModelState.ContainsKey("ShippingStreet") && ViewData.ModelState.FirstOrDefault(x => x.Key == "ShippingStreet").Value.ValidationState == Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid ? "form-control is-invalid" : "form-control")" name="ShippingStreet" required="required">
                    <span class="invalid-feedback">Street address required.</span>
            </div>
            <div class="form-group"> 
                <label for="ShippingCity">City</label>
                <input type="text" class="form-control" name="ShippingCity" required="required">
                    <span class="invalid-feedback">City required.</span> 
            </div>    
            <div class="form-group"> 
                <label for="ShippingState">State</label>
                <input type="text" class="form-control" name="ShippingState" required="required">
                    <span class="invalid-feedback">State required.</span> 
            </div>
            <div class="form-group"> 
                <label for="ShippingZipCode">ZIP</label>
                <input type="text" class="form-control" name="ShippingZipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
                    <span class="invalid-feedback">Use a 5 or 9 digit zip code.</span>
            </div>
            <div class="form-group">
                <label for="DeliveryMethod">Delivery Method</label>
                <select name="DeliveryMethod" class="form-control">
                    <option value="Standard">Standard (free)</option>
                    <option value="Express">Express Shipping $8.99</option>
                    <option value="NextDay">Next Day Shipping $23.99</option>
                </select>
                    <span class="invalid-feedback">Choose a delivery date.</span>
            </div>
               
                <!--    Validate Address    -->
                <!--<div>
                    <button class="btn btn-dark">Validate Address</button> 
                </div>
                <div class="col">
                    <div class="alert alert-warning" id="shippingNotValidated">
                        Not Yet Validated
                    </div>
                    <div class="alert alert-success" id="shippingValid" style="display:none">
                        Valid
                    </div>
                    <div class="alert alert-danger" id="shippingInvalid" style="display:none">
                        Invalid
                    </div>
                </div>-->
        </div>

        <div class="col-4">
            <div class="form-group">
                <label for="sameAs">Same As Shipping Address</label>
                <input type="checkbox" name="sameAs" id="sameAs" class="form-check" style="margin-bottom: 2.5em"/>
            </div>
            <div class="form-group"> 
                <label for="BillingStreet">Billing Street</label>
                <input type="text" class="form-control" name="BillingStreet" required="required">
                    <span class="invalid-feedback">Street address required.</span>
            </div>
            <div class="form-group"> 
                <label for="BillingCity">Billing City</label>
                <input type="text" class="form-control" name="BillingCity" required="required">
                    <span class="invalid-feedback">City required.</span> 
            </div>    
            <div class="form-group"> 
                <label for="BillingState">Billing State</label>
                <input type="text" class="form-control" name="BillingState" required="required">
                    <span class="invalid-feedback">State required.</span> 
            </div>
            <div class="form-group"> 
                <label for="BillingZipCode">Billing ZIP</label>
                <input type="text" class="form-control" name="BillingZipCode" pattern="^\d{5}(?:[-\s]\d{4})?$" required="required">
                    <span class="invalid-feedback">Use a 5 or 9 digit zip code.</span>
            </div>
        </div>
            
        <div class="col-4">
            <div class="form-group">
                <label for="CreditCardNumber">Credit Card</label>
                <input type="text" name="CreditCardNumber" class="form-control" required="required"/>
            </div>    
            <div class="form-group">
                <label for="CreditCardName">Name on Card</label>
                <input type="text" name="CreditCardName" class="form-control" required="required"/>
            </div>
            <div class="form-group">
                <label for="ExpMonth">Exp. Month</label>
                <select name="ExpMonth" class="form-control" required="required">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="ExpYear">Exp. Year</label>
                <select name="ExpYear" class="form-control" required="required" >
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="CVV">CVV</label>
                <input name="CVV" class="form-control" required="required"/>
            </div> 
            <div class="form-group">
                <input type="submit" class="btn btn-dark" value="Submit"/>
            </div>
        </div>
    </div>

</form>

@section Scripts{ 
    <script type="text/javascript">
        $(document).ready(() => {
            $('form').submit((event) => {
                if (event.target.checkValidity() == false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                $(event.target).addClass('was-validated');
            })
        });

        $("#validateShipping").click((event) => {
                $("#validateShipping").prop("disabled", "true");
                $("#validating").show();
                event.preventDefault();
                event.stopPropagation();
                var shippingAddress = $("#ShippingAddress").val();
                var shippingCity = $("#ShippingCity").val();
                var shippingState = $("#ShippingState").val();

                $.getJSON("/delivery/validateaddress?street=" + shippingAddress + "&state=" + shippingState + "&city" + shippingCity, (data) => {
                    if (data.length > 0) {
                        $("#shippingInvalid").hide();
                        $("#shippingValid").show();
                    } else {
                        $("#shippingInvalid").show();
                        $("#shippingValid").hide();
                    }
                    $("#validateShipping").removeProp("disabled");
                    $("#validating").hide();
                    console.log(data);
                })
                $("#shippingNotValidated").hide();
        
    </script>
}