@model IEnumerable<MyStoreFront1.Models.Products>

@{
    ViewData["Title"] = "Genres";
}
<h1>Genres</h1>

        <div class="row">
            @foreach (var product in Model)
            {
            <div class="col-3">
                <h3>@product.Name</h3>
                <img src="@product.ImageUrl" class="img-fluid" />

            </div>

            }
    </div>


